<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
<title>####noticeTitle####</title>
<link rel="stylesheet" type="text/css" href="####applicationPath####/css/noticeDetails.css">

</head>

<body>
<div class="box">
	<div id="div_androidad" class="newsappad" style="position: relative; max-width: 640px; min-width: 320px; margin: auto; display:none;"> <a href="javascript:NewsAppADClose();" style="position: absolute; width: 16px; height: 16px; top: 5px; right: 10px; background: url(/images/mydrivers_newsapp_close.png) no-repeat 0 0; background-size: 16px;"></a>
		<a id="a_ad" href="#" style="display: block;"></a>
	</div>
	<div id="div_iosad" class="newsappad" style="position: relative; max-width: 640px; min-width: 320px; margin: auto; display:none;"> <a href="javascript:NewsAppADClose();" style="position: absolute; width: 16px; height: 16px; top: 5px; right: 10px; background: url(/images/mydrivers_newsapp_close.png) no-repeat 0 0; background-size: 16px;"></a>
		<a id="a1" href="#" style="display: block;"><img id="img1" class="" src="images/mydrivers_newsios.png" style="width: 100%; display: block;" /></a>
	</div>
	
	<div class="news_t">####noticeTitle####</div>
	<div class="news_t1"> <span>####releaseTime####</span>
	<span>####releaseUnit####</span>

	</div>
	<div id="content" class="news">
		<p>####noticeAbstract####</p>
		<p>####noticeContent####</p>
		<p align="center">
				<img src="####noticeIcon####" width="800px"/>
		</p>
		<br/>
	</div>
	
	<div class="fenxiang">
		
		<style>
			.jiathis_style_24x24 a {
				margin-left:10px;
			}
			.jiathis_style_24x24 span {
				margin-left:10px;
			}
		</style>
	</div>

	<div id="div_relatednews" class="news_xg"></div>
</div>
</body>

</html>