.table_content {
	font-size: 12px;
	border-right: solid 1px #d0dee5;
	border-top: solid 1px #d0dee5;
	margin-top: 10px;
}

.table_content tr {
	text-align: center;
}

.table_content th {
	border-left: solid 1px #d0dee5;
	border-bottom: solid 1px #d0dee5;
	background: #f0f9fd;
	height: 22px;
}

.table_content td {
	border-left: solid 1px #d0dee5;
	border-bottom: solid 1px #d0dee5;
	height: 25px;
}

.rowtr {
	background-color: #f0f9fd;
}

.table_title {
	text-align: center;
	font-size: 12px;
	background: url(right_10.gif);
}

.table_bar {
	font-size: 12px;
}

/**
*�޸�select ���������ʽ
*/
.selected_select {
	width: 150px;
	border: 1px solid #66C9F3;
	opacity: 1;
	height: 22px;
}

input {
	border: 1px solid #66C9F3;
	background-color: transparent;
	height: 22px;
	vertical-align: middle;
}

.table_content select {
	width: 150px;
	border: 1px solid #66C9F3;
	opacity: 1;
	height: 22px;
}
.table_content radio {
	vertical-align: middle;
}

/*ȫ�ַ�ҳ������*/
.footer_nav {
	margin-top: 10px;
	margin-left: 5px;
	height: 25px;
}
