/**进度上报分栏样式    mengyiwen  2015.11.15**/
.columns{
	width:99%;
	margin:5px auto 8px 0.6%;
	border:1px #D0DEE5 solid;
	-moz-border-radius:3px 3px 0px 0px;      /* Gecko browsers */
   	-webkit-border-radius:3px 3px 0px 0px;   /* Webkit browsers */
   	border-radius:3px 3px 0px 0px;            /* W3C syntax */
}
.columns .title{
	width:100%;
	border-bottom:1px #D0DEE5 solid;
	height:25px;
	background: #F8F8F8;
	padding-top:10px;
	-moz-border-radius:3px 3px 0px 0px;      /* Gecko browsers */
    -webkit-border-radius:3px 3px 0px 0px;    /* Webkit browsers */
    border-radius:3px 3px 0px 0px;            /* W3C syntax */
    } 
.columns .content{
	width:100%;
	padding:10px;
	}
.columns .icon{
	cursor:pointer;
    display: inline;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 6px;
    -moz-transform:scale(0.6,0.6);
    -webkit-transform:scale(0.6,0.6);
    -transform:scale(0.6,0.6);
    background: url("/ystz/images/columns_up.png");
    background-repeat:no-repeat;
}
i{color: GRAY;}

.progressTable thead th{border:1px #D0DEE5 solid;text-align: center;padding:3px;background-color: #F8F8F8;}
.progressTable tbody td{border:1px #D0DEE5 solid;padding: 3px; }
.progressTable tbody tr:hover{background-color: #F8F8F8;}

.picturediv{display: inline;padding: 30px;}
.picture{width:150px; height: 150px; padding:10px; margin: 5px;}
