@charset "utf-8";
.line {
	font-size: 18px;
	margin: 10px;
	padding: 5px;
	font-weight: normal;
}
.frameone {
	height: 30px;
	width: 200px;
	border: 1px double #CCC;
}
.text {
	border: 1px double #CCC;
}

.frametwo {
	height: 30px;
	width: 350px;
	border: 1px double #CCC;
}
.framethree {
	height: 30px;
	width: 150px;
	border: 1px double #CCC;
}
.Main{
	-moz-border-radius:15px;
	border: 1px groove #77bce4;
	width: 90%;
	display:block;
	position:relative;
	text-decoration:none;
	transition:all 0.1s ease 0s;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding: 4px;
}
.Main li{
	clear:both;
	list-style-type:none
}
.esline {
	font-size: 18px;
	margin: 10px;
	padding: 5px;
	font-weight: normal;
	float: left;
}
.btn1{
	height:30px;
	line-height:23px;
	cursor:pointer;
	background-image: url(../images/ibtnbg.png);
	background-repeat: repeat-x;
	border: 1px solid #bfcfe1;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}.linebut {
	padding: 5px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 200px;
}
